{% extends "base.html" %}
{% load static %}

{% block title %}Телефон{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Телефон</h1>
        </div>
        <div class="content">
            <div>
            <h1 class="card-title">{{ slug }}</h1>

                    <h2><a href="/catalog/{{model.slug}}">{{name}}</a></h2>
                    <strong>Стоимость: {{price}}</strong><br/>
                    <p>Дата выпуска: {{release_date}}</p>
                    <p>LTE: {{lte_exists}}</p>
                    <img src="{{image}}" width="300px"/>
            </div>

        </div>
        <div class="card-action">
          <a href="{% url "show_catalog" %}">Обратно к списку</a>
        </div>

        </div>
    </div>
{% endblock %}